* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background: #262626;
  height: 100%;
}
.mainDiv {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin-top: -2rem;
  margin-left: -2rem;
}
.homeScreen {
  margin-top: 20%;
}

#picHome {
  background-image: url("../images/newGimp.png");
  background-repeat: no-repeat;
  height: 100vh;
}
.about-div {
  /* grid-column: 1; */
  height: auto;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
  margin-left: 1.5em;
}
#description {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 1.5rem;
}
#profilePic {
  grid-column: 2;
  width: 20vw;
  height: inherit;
  /* margin-top: 3rem; */
  /* margin-left: 14rem; */
}

#control {
  width: 90%;
  max-width: 1000px;
  /* min-width: 500px; */
  margin: auto;
  padding-top: 10%;
}

.wrap {
  position: relative;
  width: 100%;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  height: 100px;
  width: 100px;
  border-radius: 16px 16px 0 0;
}

.tabs-block {
  display: flex;
  padding: 0;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

li {
  text-align: center;
  margin: 0;
  padding: 18px 12px;
  flex: auto;
  font-size: 18px;
  font-weight: 700;
  color: #1bb1a5;
  position: relative;
  cursor: pointer;
  list-style: none;
  border-radius: 20px 20px 0 0;
  user-select: none;
}

h1 {
  margin: 0;
  padding: 0;
  color: rgba(207, 66, 66, 0.863);
}

p {
  margin: 0;
  padding: 0;
  color: rgb(199, 175, 175);
}

.article-block {
  width: 100%;
  overflow: hidden;
  /* height: 100%; */
  position: relative;
  border-radius: 24px;
}

.article {
  position: absolute;
  width: 100%;
  padding: 40px;
  left: 0;
  top: 0;
  line-height: 1.5;
  overflow: hidden;
}

img {
  max-width: 100%;
  width: auto;
  /* display: inline-flexbox; */
  margin: 0 auto;
}

#article2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

#article4 {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

a img {
  width: 14vw;
  /* height: 25vh; */
}
.try {
  grid-row: 1;
  grid-column: 1;
}
.b {
  grid-column: 3;
  grid-row: 1 / span 2;
  width: auto;
  height: 90%;
  justify-self: center;
  overflow: hidden;
}

.c {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  overflow: hidden;
}
.d {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  overflow: hidden;
  margin-right: 2em;
}
.waitDescription {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-top: 15%;
}
.trashDescription {
  grid-column: 1;
  grid-row: 2;
}
.gameDescription {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mainDiv {
    background-color: darkgreen;
  }
  .about-div {
    /* grid-column: 1; */
    height: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
    margin-left: 1.5em;
  }
  #description {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 0.9rem;
  }
  #profilePic {
    grid-column: 2;
    width: 120%;
    height: 50%;
    margin-top: 3rem;
    margin-left: 1em;
  }

  #article4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: none;
    box-sizing: none;
    padding: 2px 40px;
  }
  a img {
    width: 50%;
    height: 50%;
  }
  /* .try {
      grid-column: 1;
      grid-row: 1;
    } */
  .waitDescription {
    grid-column: 1;
    grid-row: 1;
    font-size: 0.7rem;
    margin-top: 56%;
  }
  .trashDescription {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.7rem;
  }
  .gameDescription {
    grid-column: 1;
    grid-row: 3;
    margin-top: -79%;
    font-size: 0.7rem;
  }
  .b {
    grid-column: 2;
    grid-row: 1;
    height: 70%;
    text-align: center;
    margin-top: 19%;
  }

  .c {
    grid-column: 2;
    grid-row: 2;
    height: 70%;
    padding-bottom: 25%;
    text-align: center;
  }
  .d {
    grid-column: 2;
    grid-row: 3;
    height: 40%;
    text-align: center;
    margin-top: -100%;
  }
  .try {
    grid-row: 0;
    grid-column: 0;
  }
}
