#article4 {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
}

a img {
  width: 14vw;
}
.try {
  grid-row: 1;
  grid-column: 1;
}
.b {
  grid-column: 3;
  grid-row: 1 / span 2;
  width: auto;
  height: 90%;
  justify-self: center;
  overflow: hidden;
}

.c {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  overflow: hidden;
}
.d {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  overflow: hidden;
  margin-right: 2em;
}
.waitDescription {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-top: 15%;
}
.trashDescription {
  grid-column: 1;
  grid-row: 2;
}
.gameDescription {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mainDiv {
    background-color: darkgreen;
  }
  .about-div {
    height: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
    margin-left: 1.5em;
  }
  #description {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 0.9rem;
  }
  #profilePic {
    grid-column: 2;
    width: 120%;
    height: 50%;
    margin-top: 3rem;
    margin-left: 1em;
  }

  #article4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: none;
    box-sizing: none;
    padding: 2px 40px;
  }
  a img {
    width: 50%;
    height: 50%;
  }

  .waitDescription {
    grid-column: 1;
    grid-row: 1;
    font-size: 0.7rem;
    margin-top: 56%;
  }
  .trashDescription {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.7rem;
  }
  .gameDescription {
    grid-column: 1;
    grid-row: 3;
    margin-top: -79%;
    font-size: 0.7rem;
  }
  .b {
    grid-column: 2;
    grid-row: 1;
    height: 70%;
    text-align: center;
    margin-top: 19%;
  }

  .c {
    grid-column: 2;
    grid-row: 2;
    height: 70%;
    padding-bottom: 25%;
    text-align: center;
  }
  .d {
    grid-column: 2;
    grid-row: 3;
    height: 40%;
    text-align: center;
    margin-top: -100%;
  }
  .try {
    grid-row: 0;
    grid-column: 0;
  }
}
